<h1>Resultados da busca</h1>

<ul>
  <% if @promotions.any? %>
    <% @promotions.each do |promotion| %>
      <li><%= promotion.name %>, <%= promotion.description %></li>
    <% end %>
  <% else %>
    <p>Não foram encontrados resultados para a busca</p>
  <% end %>

  
  <% if @coupons.any? %>
    <% @coupons.each do |coupon| %>
      <li> <%=link_to coupon.code, promotion_path(coupon.promotion_id) %> </li>
    <% end %>
  <% else %>
    <p>Não foram encontrados resultados para a busca</p>
  <% end %>
  
</ul>